@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    margin:0;
    padding:0;
}

body{
    height:600px;
    background-color:rgb(11, 14, 167);
    text-align: center;
    
}

.title{
    font-size: larger;
    font-family: 'Nunito', sans-serif;
}
.outerwrapper{
    width:600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.first ,.second ,.third{
    display:flex;
}

.cell {
    display: flex;  
    justify-content: center;
    align-items: center;     
    /* text-align: center;      */
    height: 160px;          
    width: 200px;            
    border: 9px solid white;  
    font-size: 84px;
    font-weight: 700;    
    font-family: 'Nunito', sans-serif; 
}

.first div,.third div{
    border-top: none;
    border-bottom: none;
}
.first .first-one,.second .second-one,.third .third-one,.first .first-three,.second .second-three,.third .third-three{
    border-right: none;
    border-left: none;
}
.score-wrapper{
    background-color: whitesmoke;
    display:none;
    width:600px;
    box-shadow: 10px 10px 10px #436781;
    margin-left: auto;
    margin-right: auto;
    height: 480px;
    margin-top: 90px;
    border-radius: 35px;
    
}
.score-wrapper button{
    justify-content: center;
    width: 250px;
    background-color: #1C1C1C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 25px;
    margin-top: 30px;
}
.score-wrapper #winner{
    font-size: 60px;
    font-family: 'Nunito',sans-serif;
    font-weight: 700;
    padding-top: 100px;
    color: rgb(214, 38, 38);
}
.score-wrapper #emoji{
    font-size: 120px;
    color: rgb(19, 115, 160);
}
